
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --color-primario: #010004;
    --color-secundario: #f6f6f6;
    --color-terciario: #604CC3;
    --color-hover: #f6f6f6;

    --fuente-montserrat: "Montserrat", sans serif;
    --fuente-krona: "Krona One", sans serif:
}


* {
    margin: 0;
    border: 0;
    }

body{
    background-color: var(--color-primario);
    color: var(--color-secundario);
    box-sizing: border-box;
}

.header{
padding: 1% 0% 0% 15%;
}
.header_menu{
    display: flex;
    gap: 80px;
}

.header_menu_link{
    font-family: (var(--fuente-montserrat));
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--color-terciario);
   
}

.principal {
    display: flex;
    align-items: center;
    margin: 2% 15%;
    justify-content: space-between;
    gap: 82px;
}

.principal_contenido {
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.principal_contenido_titulo{
    font-size: 33px;
    font-family: "Krona One", sans-serif;
}

.titulo-destacado {
    color: var(--color-terciario);
}

.class_principal_parrafo {
    font-size: 1.7rem;
    font-family: var(--fuente-montserrat);
}

.principal_links {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.principal_enlances_link {
    display: flex;
    width: 50%;
    text-align: center;
    padding: 1.5px 0;
    border-radius: 8px;
    font-family: var(--fuente-montserrat);
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
    color: var(--color-secundario);
    border: 2px solid var(--color-terciario);
    justify-content: center;
    gap: 12px;
}

.principal___enlaces__sub{
    font-family: var(--fuente-krona);
    font-size: 1.5rem;
    font-weight: 400;
}

.principal_enlances_link:hover{
    background-color: var(--color-hover)
}
.footer{
    background-color: var(--color-terciario);
    padding: 24px;
    color: var(--color-primario);
    text-align: center;
    font-family: var(--fuente-montserrat);
    font-size: 1.0rem;
    font-weight: 500;
}

.imagenaxel{
    width: 488px;
    
}
.class_principal_parrafo2 {
    font-size: 25.3px;
    font-family: var(--fuente-montserrat);
}

.presentacion__imagen {
    width: 50%;
}

@media (max-width: 575px) {
    .header{
        padding: 5%;
    }
    .header_menu{
        justify-content: center;
    }
    .principal{
        flex-direction: column-reverse;
    }

    .principal_enlances_link {
        display: flex;
    width: 50%;
    text-align: center;
    padding: 1.5px 0;
    border-radius: 8px;
    font-family: var(--fuente-montserrat);
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
    color: var(--color-secundario);
    border: 2px solid var(--color-terciario);
    justify-content: center;
    gap: 12px;
        
}

        .principal_contenido{
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
        }
